[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
"pystun3" = "==1.0.0"
"npyscreen" = "==4.10.5"
"mypy" = "==0.630"
event-bus = "==1.0.2"

[requires]
python_version = "3.6"
